// @import
@import "var.scss","mixin.scss";
// @import "var";

body{
  // !global
  $local-color: #333 !global;

  // nested properties
  font:{
    // operations
    size : ($basic-font + 12px)/2;
    family: 'Microsoft YaHei';
    weight:  bold;
  }

  // deprecate color: #333 + #111;

  // &
  & a{
    @include setColor(#006cff);
  }

  // %
  %icon{
    display: inline-block;
  }

}

// @extend
.fakelink{
  @extend a;

  // !optional
  @extend .noThis !optional;

  & [role=icon]{
    @extend %icon;
    color: $local-color;
  }
}

// @media
// #{}
@media #{$media}{
  body{

    a{
      // no @extend from out of this directive
      color: #333;
    }

    // @at-root
    @at-root div{
      margin:10px;

      @at-root (without:media){
        margin:0;
      }
    }
  }
}

// directives
// @if $i < 3 {}
// @else {}
// @for $i from start to/through end {}
// @each $var in list
// @while () {}
// @function(){ @return }

